body{
    background-color: rgb(199, 194, 194);
}

#main{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main button{
    width: 150px;
    height: 40px;
    border-radius: 15px;
}

.light-mode{
    background-color: rgb(59, 58, 58);
    color: white;
}

.dark-mode{
    background-color: rgb(218, 214, 214);
    color: black;
}


#main button:hover{
    background-color: black;
}

footer{
	position:absolute;
	bottom:0;
	width:100%;
    text-align: center;
}